<!-- 텍스트 인풋 -->
<div class="input input-text input-text-default">
  <label for="inputText">Text</label>
  <input type="text" id="inputText" placeholder="placeholder" />
</div>
<div class="input input-text input-text-hover">
  <label for="inputTextHover">Text</label>
  <input type="text" id="inputTextHover" placeholder="placeholder" />
</div>
<div class="input input-text input-text-focus">
  <label for="inputTextFocus">Text</label>
  <input type="text" id="inputTextFocus" placeholder="placeholder" />
</div>
<div class="input input-text input-text-typing">
  <label for="inputTextTyping">Text</label>
  <input type="text" id="inputTextTyping" value="Typing" />
</div>
<div class="input input-text input-text-filled">
  <label for="inputTextFilled">Text</label>
  <input type="text" id="inputTextFilled" value="Filled" />
</div>
<div class="input input-text input-text-disable">
  <label for="inputTextDisable">Text</label>
  <input type="text" id="inputTextDisable" placeholder="placeholder" disabled />
</div>

<!-- 서치 인풋 -->
<div class="input input-search input-search-default">
  <label for="inputSearch">Search</label>
  <input type="search" id="inputSearch" placeholder="Search" />
  <span class="icon-search"></span>
</div>
<div class="input input-search input-search-hover">
  <label for="inputSearchHover">Search</label>
  <input type="search" id="inputSearchHover" placeholder="Search" />
  <span class="icon-search"></span>
</div>
<div class="input input-search input-search-focus">
  <label for="inputSearchFocus">Search</label>
  <input type="search" id="inputSearchFocus" placeholder="Search" />
  <span class="icon-search"></span>
</div>
<div class="input input-search input-search-typing">
  <label for="inputSearchTyping">Search</label>
  <input type="search" id="inputSearchTyping" value="Searching" />
  <span class="icon-search"></span>
</div>
<div class="input input-search input-search-filled">
  <label for="inputSearchFilled">Search</label>
  <input type="search" id="inputSearchFilled" value="Search completed" />
  <span class="icon-search"></span>
</div>
<div class="input input-search input-search-disable">
  <label for="inputSearchDisable">Search</label>
  <input type="search" id="inputSearchDisable" placeholder="Search" disabled />
  <span class="icon-search"></span>
</div>

<!-- 메모 인풋 -->
<div class="input input-memo input-memo-default">
  <label for="inputMemo">Memo</label>
  <textarea id="inputMemo" placeholder="Please enter a memo"></textarea>
</div>
<div class="input input-memo input-memo-hover">
  <label for="inputMemoHover">Memo</label>
  <textarea id="inputMemoHover" placeholder="Please enter a memo"></textarea>
</div>
<div class="input input-memo input-memo-focus">
  <label for="inputMemoFocus">Memo</label>
  <textarea id="inputMemoFocus" placeholder="Please enter a memo"></textarea>
</div>
<div class="input input-memo input-memo-typing">
  <label for="inputMemoTyping">Memo</label>
  <textarea id="inputMemoTyping">Typing</textarea>
</div>
<div class="input input-memo input-memo-filled">
  <label for="inputMemoFilled">Memo</label>
  <textarea id="inputMemoFilled">Filled</textarea>
</div>
<div class="input input-memo input-memo-disable">
  <label for="inputMemoDisable">Memo</label>
  <textarea
    id="inputMemoDisable"
    placeholder="Please enter a memo"
    disabled
  ></textarea>
</div>

<!-- 드롭다운 인풋 -->
<div class="input input-dropdown input-dropdown-default">
  <label for="inputDropdown">Dropdown</label>
  <select id="inputDropdown">
    <option value="">Please select</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <span class="icon-dropdown"></span>
</div>
<div class="input input-dropdown input-dropdown-hover">
  <label for="inputDropdownHover">Dropdown</label>
  <select id="inputDropdownHover">
    <option value="">Please select</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <span class="icon-dropdown"></span>
</div>
<div class="input input-dropdown input-dropdown-focus">
  <label for="inputDropdownFocus">Dropdown</label>
  <select id="inputDropdownFocus">
    <option value="">Please select</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <span class="icon-dropdown"></span>
</div>
<div class="input input-dropdown input-dropdown-typing">
  <label for="inputDropdownTyping">Dropdown</label>
  <select id="inputDropdownTyping">
    <option value="">Please select</option>
    <option value="1" selected>Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <span class="icon-dropdown"></span>
</div>
<div class="input input-dropdown input-dropdown-filled">
  <label for="inputDropdownFilled">Dropdown</label>
  <select id="inputDropdownFilled">
    <option value="">Please select</option>
    <option value="1" selected>Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <span class="icon-dropdown"></span>
</div>
<div class="input input-dropdown input-dropdown-disable">
  <label for="inputDropdownDisable">Dropdown</label>
  <select id="inputDropdownDisable" disabled>
    <option value="">Please select</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
  <span class="icon-dropdown"></span>
</div>
